## Pengenalan Phyton, tipe data, variable
## tipe data
- INTEGER (class INT) --> Angka bulat
- DECIMAL (class FLOAT) --> Angka bilangan koma
- STRING (class STR) --> Text
- BOOLEAN (class BOOL) --> true or false

In [13]:
print(123456)
print(981264)
print(type(123456))
print(23.4546)
print(6.2342e-3)
print(.087436)
print(type(.087436))
print('hai kamu')
print("halo halo halo")
print(type('halo halo halo'))
print('') # <-- text kosong
print("") # <-- text kosong
print(type(True)) # <-- boolean must be capitalized in first letter

123456
981264
<class 'int'>
23.4546
0.0062342
0.087436
<class 'float'>
hai kamu
halo halo halo
<class 'str'>


<class 'bool'>

## Variable
- number
- string

In [14]:
n = 300
a = b = c = 150

print(n, a , b)

300 150 150

In [15]:
Nama = 'joko'
kalimat = "hello Hactiv8"
umur = 23

print (kalimat, Nama, umur)

hello Hactiv8 joko 23

### Operator dan expression
- aritmatika
- comparison
- manipulasi text

In [19]:
a = 10
b = 20

print (a+b)
print (a+b-3)
print (a-b)
print (b/a) # hasil dari pembagian ini adalah 'float'
print(type(b/a))
print (a * b - 5)
print (a ** 2) # ** adalah pangkat
print (b % a) # % adalah modulo --> mengambil sisa dari pembagian
print (7 % 2) # % adalah modulo --> mengambil sisa dari pembagian

c = 10
print(a == c)
print(a >= b)
print(b > a)
print(b != a)
print(c <= b)

30
27
-10
2.0
<class 'float'>
195
100
0
1
True
False
True
True
True

In [20]:
halo = 'halo'
bandung = "bandung"

In [24]:
pesan = halo * 2 + bandung
print(pesan)

halohalobandung

In [28]:
a = 'a'
hotel = 'HoteL ManDARIn'
print (a in pesan) # 'in' menunjukkan bahwa apakah ada didalam text dan hasilnya adalah 'boolean'

True

In [32]:
print(hotel.capitalized())
print(hotel.lower())
print(hotel.upper())
print(hotel.swapcase())
print(hotel.title())

NameError: name 'hotel' is not defined

## LIST
-element can be change

-pake [...]

- can be nested

+ <-- concatenate
* <-- replication


- len() <-- jumlah elemet didalam list
- max() <-- nilai terbesar dalam list
- min() <-- nilai terkecil dalam list
- modifying list value

In [33]:
sejati = ['amin', "iman", 'mina', 'mana', "maan", "nami", 'mina']
list_number = [1,3,2,5,7,5,9]
print(sejati[0])
print(sejati[2])
print(sejati[-2])
print(sejati[1:5])

amin
mina
nami
['iman', 'mina', 'mana', 'maan']

In [34]:
print(sejati)

['amin', 'iman', 'mina', 'mana', 'maan', 'nami', 'mina']

In [35]:
print(sejati + ['niam', "mani"])

['amin', 'iman', 'mina', 'mana', 'maan', 'nami', 'mina', 'niam', 'mani']

In [39]:
print(len(sejati))
print(max(sejati))
print(max(list_number))

7
nami

NameError: name 'list_number' is not defined

In [44]:
print(sejati)
sejati [1:3] = ['koko',"kaka","koki"]
print (sejati)

['amin', 'iman', 'kiko', 'koki', 'kaka', 'kaka', 'koki', 'kaka', 'kaka', 'maan', 'nami', 'mina']
['amin', 'koko', 'kaka', 'koki', 'koki', 'kaka', 'kaka', 'koki', 'kaka', 'kaka', 'maan', 'nami', 'mina']

In [48]:
del(sejati[1:10])

In [49]:
print(sejati)

['amin']

In [56]:
sejati = ['amin', "iman", 'mina', 'mana', "maan", "nami", 'mina']
print(sejati[2:5])
sejati [2:5] = ['koko',"kiki",'kaka']
print(sejati)
print(sejati[6])
del sejati[6]
print(sejati)

['mina', 'mana', 'maan']
['amin', 'iman', 'koko', 'kiki', 'kaka', 'nami', 'mina']
mina
['amin', 'iman', 'koko', 'kiki', 'kaka', 'nami']

## TUPPLE
- element cant be changed

- pake (...)

- mirip dengan list

- can be nested

## DICTIONARY --> mirip dengan array
- menggunakan ' key-value pair '

In [62]:
Orang = {}
type(Orang)

dict

In [63]:
Orang['first_name'] = 'joko'

In [64]:
print(Orang)

{'first_name': 'joko'}

In [69]:
Orang['second_name'] = 'widodo'
Orang['mobil'] = 'avansa'
#    'nama_ayah' = 'mahmud',
#  'nama_ibu' = 'juminten'}

In [70]:
print(Orang)

{'first_name': 'joko', 'second_name': 'widodo', 'mobil': 'avansa'}

In [71]:
Orang['first_name'] = 'sigit'
Orang['second_name'] = 'Ubed'
print(Orang)

{'first_name': 'sigit', 'second_name': 'Ubed', 'mobil': 'avansa'}

## cara menambahkan dictionary ???